body{
	height: 100%;
}
// header with logo and score
header{
	margin: 15px 40px 0 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.logo {
		margin: -3px -4px;
	}

	.score{
		font-family: "pixelmixregular";
		color: #eeeeee;
		text-align: right;
		float: right;

		// Starts hidden
		display: none;

		.num{
			font-size: 126px;
			margin: -5px -15px 0 0;
		}
		.text{
			font-size: 30px;
			display: block;
			padding-top: 5px;
			text-transform: uppercase;
		}
	}

}

// Animations
#intro_hype_container{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -300px;
}

.start {
	position: absolute;
	top: 30px;
	right: 40px;

	// Starts hidden
	display: none;
}

// Canvas
#game {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	// Keep it behind the other elements
	z-index: -1;
}
.animScore {
	font-size: 50px !important;
	font-family: "pixelmixregular" !important;
	color: #ffdb5d !important;

	.pts{
		font-size: 25px !important;
	}
}

// Footer with like buttons
footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 0 40px 15px 20px;
	width: 100%;
	font-size: 14px;
	font-family: "pixelmixregular";

	img.credits {
		float: left;
		margin-top: 50px;
	}
	.and {
		color: #1bc1ff;
	}

	.message {
		position: absolute;
		left: 49%;
		bottom: 20px;
	}

	.plus{
		float: right;
		margin-left: 10px;
		text-align: baseline;
	}
	.fb-like{
		float: right;
		margin-left: 10px;
		text-align: baseline;
	}
}