<!-- Animations -->
<div id="intro_hype_container" style="width:600px;height:400px;">
	<script type="text/javascript" charset="utf-8" src="motion/intro_hype_generated_script.js?98580"></script>
</div>

<!-- Game canvas and assets -->
<img src="images/alert.gif" height="86" width="109" class="start">
<canvas id="game"></canvas>


<!-- Header with log and score -->
<header style="display: none">
	<img src="images/logo.png" class="logo">

	<div class="score">
		<span class="num">0</span>
		<span class="text">pts</span>
	</div>
</header>

<!-- Footer with credits and share -->
<footer>
	<img src="images/credits.gif" height="20" width="130" alt="FOCCALAND AND COMMIT.TO" class="credits">
	<div class="message"></div>
	<div class="gplus"><div class="g-plusone" data-size="tall"></div></div>
	<div class="fb-like" data-href="http://www.pongscroll.me" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
</footer>