<img src="images/start.png" height="86" width="109" class="start">
<canvas id="game"></canvas>

<header>
	<img src="images/logo.png" height="85" width="77" class="logo">

	<div class="score">
		<span class="num">0</span>
		<span class="text">pts</span>
	</div>
</header>

<footer>
	<p>FOCCALAND <span class="and">AND</span> COMMIT.TO</p>

	<div class="plus"><div class="g-plusone" data-size="tall"></div></div>
	<div class="fb-like" data-href="http://www.pongscroll.com" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
</footer>